@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2 class="display-6">Genel Bakış</h2>
            <p class="text-muted">Okul envanter durumuna hızlı bir bakış.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="alert alert-info">
                <i class="bi bi-info-circle-fill"></i> Sistem şu an geliştirme aşamasındadır.
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Asset/GetAssets',
                type: 'GET',
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    console.error("Veri çekilemedi", err);
                }
            });
        });
    </script>
}
